.text_edit{
    margin: 90px 60px;
}
.title{
    background-color: #1B1B1B;
    color: #C8C8C8;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    border: 0;
    width: 100%;
    outline: none;
}
.edit_time{
    display: flex;
    align-items: center;
    color: #3471FF;
    gap: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px; 
    border-bottom: 2px solid #2D2D2D;
    width: 100%;
    margin-bottom: 20px;
}
.edit_time p{
    color: white;
}
.heshtegs{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #898989;
    margin: 10px 0 20px 0;
}
.text{
    background-color: #1B1B1B;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    border: 0;
    width:  100%;
    resize: none;
    outline: none;
}
.text::-webkit-scrollbar-track
{
   box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   border-radius: 10px;
   background-color: #272727;
}

.text::-webkit-scrollbar
{
   width: 12px;
   background-color: #272727;
}

.text::-webkit-scrollbar-thumb
{
   border-radius: 6px;
   box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
   background-color: #333333;
}